
<div id="MapMainContent" style="width: 3000px;height: 1500px;margin-left: 280px;margin-top: 60px;position: absolute;padding: 0px;"></div>

<button type="submit" class="btn btn-default" id="SaveMapBtn" style="position: relative;left: 80px;top: 20px;">Save</button>

<button type="submit" class="btn btn-default" id="ShowMapNodes" style="position: relative;left: 80px;top: 20px;">Show nodes</button>